<% include partials/header %>

<h1><%= title %></h1>

  <form method="get" action="/signup">
    <input type="submit" value="Signup">
  </form>

<h2>Log In:</h2>

  <form method="post" action="/user/login">
    <label>Email</label>
    <br>
    <input type="text" name="email"
    <br/><br>
    <label>Password</label>
    <br>
    <input type="text" name="password">
    <br/>
    <input type="submit" value="Submit">
  </form>

<% include partials/footer %>
