<% include partials/header %>

<html>

<head>
<link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet'>
<link href="index.css" rel="stylesheet" type="text/css">

</head>

<body class="main">

  <form class="top-right" method="get" action="/signup">
    <input class="butt" type="submit" value="Signup">
  </form>

<h1><%= title %></h1>

  <form method="post" action="/user/login">
    <label>Email</label>
    <br>
    <input type="text" name="email"
    <br/><br>
    <label>Password</label>
    <br>
    <input type="text" name="password">
    <br/><br>
    <input class="butt" type="submit" value="Log In">
  </form>

</body>

</html>

<% include partials/footer %>
