
<!DOCTYPE html>
<html>
<head>
  <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
  <link href="index.css" rel="stylesheet" type="text/css">
</head>

<body class="main">

  <form class="top-right" method="get" action="/properties/create">
    <input class="butt" type="submit" value="Create">
  </form>

  <div>
    <ul>
    <% properties.forEach(function(property){ %>
    <li>
      <div class="property_list">
        <div class="property_data">
          <h2><%= property.name %></h2>
          <img src='<%= property.pic_url %>'<br><br>
          <strong>Price: £<%= property.price %></strong><br><br>
          <strong>Description: </strong><%= property.description %><br><br>
          <form method="post" action="/properties/book">
            <input class="butt" type="submit" value="Book Me">
          </form>

          <br>

          <% }); %>

        </div>
      </div>
      </li>
    </ul>
  </div>
</body>
</html>
