

<!DOCTYPE html>
<html>
<head>
  <link href="index.css" rel="stylesheet" type="text/css">
</head>

<body class="main">


  <form class="top-right" method="get" action="/">
    <input class="butt" type="submit" value="Logout">
  </form>

  <br>

  <form class="top-right" method="get" action="/properties">
    <input class="butt" type="submit" value="Back">
  </form>

  <h2>Your listed property:</h2>

  <div class="property_list">
    <div class="property_data">
          <h3>Property name</h3>
          <p>Price:</p>
          <p>Description:</p>
          <p>Dates:</p>
    </div>
  </div>




</body>
</html>
